*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: Roboto,sans-serif;
}
.discover{
    padding-top: 100px;
    background-image: url(../Images/carl-newton-iX7WedkjpUY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%
}
.contact,
.programs{
    padding-top: 100px;
}
.img{
    padding-top: 120px;
}
header{
    background-color: #352d43;
    position: fixed;
}
.benefit{
    background-color: #f9f9ff;
}
.text-center{
    color: #352a56;
}
.images{
    background-color: #eef0ef;
}
footer{
    background-color: #352d43;
}
hr{
    width: 80px;
    margin: 0 auto;
}
h4{
    padding-top: 100px;
}
@media(max-width:480px){
    .discover{
        padding-top: 50px;
        background-position: 80% 0%;
    }
    .contact,
    .programs{
    padding-top: 80px;
    }
    .img{
        padding-top: 20px;
    }
    h4{
        padding-top: 10px;
    }
    .text-wrap{
        text-align: center;
    }
}